POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_this_password

INTERNAL_API_KEY=change_this_internal_key

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

XENDIT_SECRET_KEY=
XENDIT_CALLBACK_TOKEN=

MAIL_USERNAME=
MAIL_PASSWORD=

APP_FRONTEND_URL=http://localhost:5173