@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background-color: #e5e7eb;
}

html:not(.dark) #root {
  background-color: #e5e7eb;
}

html:not(.dark) .min-h-screen.bg-white,
html:not(.dark) .min-h-screen.bg-slate-50,
html:not(.dark) .min-h-screen.bg-gray-50 {
  background-color: #e5e7eb;
}

.dark body {
  background-color: #020617;
}
/* DARK MODE GLOBAL */
/* .dark body {
  background-color: #020617;
  color: #f8fafc;
} */

.dark .bg-white {
  background-color: #0f172a;
}

.dark .bg-slate-50 {
  background-color: #020617;
}

.dark .bg-slate-100 {
  background-color: #1e293b;
}

.dark .bg-blue-50 {
  background-color: #0f172a;
}

.dark .bg-blue-100 {
  background-color: #1e3a8a;
}

.dark .text-slate-950,
.dark .text-slate-900,
.dark .text-slate-800,
.dark .text-slate-700 {
  color: #f8fafc;
}

.dark .text-slate-600,
.dark .text-slate-500,
.dark .text-slate-400 {
  color: #cbd5e1;
}

.dark .border-slate-100,
.dark .border-slate-200,
.dark .border-slate-300 {
  border-color: #334155;
}

.dark .shadow-sm,
.dark .shadow-xl,
.dark .shadow-2xl {
  box-shadow: none;
}

.admin-input {
  height: 3rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #e2e8f0;
  background: #f8fafc;
  padding: 0 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #0f172a;
  outline: none;
}

.admin-input:focus {
  border-color: #3b82f6;
  background: #ffffff;
}

.dark .admin-input {
  border-color: #334155;
  background: #020617;
  color: #ffffff;
}

.dark .admin-input:focus {
  border-color: #3b82f6;
}